.container {
    width: auto;
}

.moment {
    font-size: 1.5em;
    width: fit-content;
    text-align: center;
    margin: -70px auto 0px;
}

.moment em {
    font-style: normal;
    font-weight: bold;
}

.rem {
    font-size: 1.17em;
    text-align: center;
}

.text {
    text-align: center;
    margin: 10px auto 0px;
}