.solarClock {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.frame {
    position: absolute;
    z-index: 2;
}

.civil {
    position: absolute;
    z-index: 4;
}

.solstice {
    position: absolute;
    z-index: 1;
}

.sun {
    position: absolute;
    z-index: 3;
}

.phase {
    position: absolute;
    z-index: 1;
}

.stage {
    position: absolute;
    z-index: 1;
}

.label {
    position: absolute;
    z-index: 1;
}

.hand {
    position: absolute;
    z-index: 5;
}